.mood{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    &__info{
        text-align: center;
    }
}

.face {
    font-size: 50px;
}

.happy{
    background-color: #06df6b;
}

.sad{
    background-color: red;
}